<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>swell</title>
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="shortcut icon" href="../Image/swell.svg" sizes="52x52" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <nav>
            <img src="../Image/swell.svg" alt="" />
            <ul>
                <li>Why Swell?</li>
                <li>Features</li>
                <li>Pricing</li>
                <li>Resources</li>
            </ul>
            <div class="containerBtn">
                <button class="Start">Start free trial</button>
                <button class="LogIn">Log in</button>
            </div>
        </nav>
    </header>
    
</body>

</html>